extends layout

block content
	main.mb-5.px-3
		each post in posts
			.card.mx-auto.my-4.shadow(style='max-width: 40rem;')
				.card-body.my-3.mx-3.position-relative
					if post.status == 'draft'
						span.badge.bg-light.text-black-50.rounded-pill.position-absolute.top-0.end-0(style='font-size: 0.9em;') Draft
					h6.card-subtitle.text-muted.fs-6.fw-normal.text-center= post.getShortDate() 
					h5.card-title.fs-2.fw-bold.mb-3.text-center= post.title
					p.card-text.text-start.trix-content(style='font-size: 1.15rem;')= post.getShortBody()
					.text-center
						a.btn.btn-light.stretched-link(href=`/${username}/${post.slug}`) Read more
		if nextPage 
			.text-center.mt-5
				a.btn.blog-pagination-button(href=nextPage) See more posts &raquo;
		if userId
			.text-center.blog-sticky.pt-5
				a.btn.btn-primary(href=`/new`) Create post