extends layout

block content
	main.mb-5
		.mx-auto.my-4(style='max-width: 45rem;')
			.my-3.mx-3
			if post.status == 'draft'
				.text-center 
					.alert.alert-secondary.blog-alert-draft.text-black-50.py-0.mb-4(role='alert') Draft
				h6.text-muted.fs-6.fw-normal.text-center= post.getShortDate() 
				h1.fw-bold.text-center= post.title
				.pt-4.trix-content(style='font-size: 1.2rem;')
					!= post.body
			.text-center.mt-5
				if loggedIn
					a.btn.btn-primary.mx-2(href=`/edit/${post.slug}`) Edit post
					button.btn.btn-danger.mx-2(type='button' data-bs-toggle='modal' data-bs-target='#deletePostModal') Delete post

	if loggedIn 
		#deletePostModal.modal.fade(tabindex='-1' aria-labelledby='deletePostModalLabel' aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header
						h5#deletePostModalLabel.modal-title Delete post
						button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
					.modal-body Are you sure you want to delete the post: "#{post.title}"?
					.modal-footer
						form(action=`/destroy/${post.slug}`, method="post")
							button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cancel
							button.btn.btn-danger.mx-3(type='submit') Delete post